@import "tailwindcss";
@import '@fontsource-variable/lexend/wght.css';
@import '@fontsource/anton';


@theme {


  --color-primary-light: #A3BEFE;
  --color-primary: #254A83;
  --color-primary-dark: #3160A6;
  --color-gray: #D9D9D9;
  --color-gray-dark: #6B7280;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-body: #1E1E1E;


  --font-Lexend: 'Lexend Variable', sans-serif;
  --font-Anton: 'Anton', sans-serif;
  
  --animate-marquee: marquee 20s linear infinite;
  --animate-gradiente: gradiente 5s ease infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes gradiente {
  0%, 100%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
}


